<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>sl_ReelBack.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,902},{142,330}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{142,330}</string>
   </dict>
   <key>sl_background.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{1600,900}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{1600,900}</string>
   </dict>
   <key>sl_symbol01.png</key>
   <dict>
    <key>frame</key>
    <string>{{362,902},{101,110}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{101,110}</string>
   </dict>
   <key>sl_symbol02.png</key>
   <dict>
    <key>frame</key>
    <string>{{465,902},{97,110}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{97,110}</string>
   </dict>
   <key>sl_symbol03.png</key>
   <dict>
    <key>frame</key>
    <string>{{256,902},{104,110}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{104,110}</string>
   </dict>
   <key>sl_symbol04.png</key>
   <dict>
    <key>frame</key>
    <string>{{144,1011},{96,110}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{96,110}</string>
   </dict>
   <key>sl_symbol05.png</key>
   <dict>
    <key>frame</key>
    <string>{{144,902},{110,107}}</string>
    <key>offset</key>
    <string>{0,-1}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{110,110}</string>
   </dict>
   <key>sl_symbol06.png</key>
   <dict>
    <key>frame</key>
    <string>{{256,1014},{110,86}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{110,86}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>textureFileName</key>
   <string>sl_mainAtlas.png</string>
  </dict>
 </dict>
</plist>
